* {
  overflow-anchor: none;
  font-family: $dosis;
  color: $white;
  padding: 0%;
  margin: 0%;
}

html {
  background: linear-gradient($background-top, $background-bottom);
	height: 100vh;
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
  color: $darkText;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  margin: 0.8% auto;
  background-color: $headerOutline;
}
