@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/dosis-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/dosis-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/dosis-v27-latin-regular.woff2") format("woff2"), url("../assets/fonts/dosis-v27-latin-regular.woff") format("woff"), url("../assets/fonts/dosis-v27-latin-regular.ttf") format("truetype"), url("../assets/fonts/dosis-v27-latin-regular.svg#Dosis") format("svg"); /* Legacy iOS */
}
.option-1 {
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
}

.option-2 {
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
}

.option-3 {
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
}

.option-4 {
  background: linear-gradient(hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
}

.option-5 {
  background: linear-gradient(hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
}

* {
  overflow-anchor: none;
  font-family: "Dosis", Monospace;
  color: hsl(180deg, 90%, 100%);
  padding: 0%;
  margin: 0%;
}

html {
  background: linear-gradient(hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  height: 100vh;
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
  color: hsl(229deg, 25%, 31%);
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  margin: 0.8% auto;
  background-color: hsl(217deg, 16%, 45%);
}

.title {
  font-size: 2.8em;
  padding: 5vh;
}
.title article {
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 8px;
  margin: 0 auto;
  width: 80%;
}
.title article h1 {
  text-align: center;
  padding: 15px;
}
.title article h1 a {
  background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 200, 200)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
  background-size: 0% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  color: hsl(180deg, 90%, 100%);
}
.title article h1 a:hover,
.title article h1 a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.8em;
  }
}
.dataInput {
  display: flex;
}
.dataInput article {
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 0px 8px 8px 0px;
  padding: 1vw 1vw 0px 1vw;
}
.dataInput article h2 {
  padding-bottom: 10px;
  text-align: center;
}
.dataInput article form label {
  display: block;
}
.dataInput article form input[type=text] {
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 15px;
  padding: 5px;
  color: black;
  width: 300px;
}
.dataInput article form input[type=checkbox] {
  border-radius: 15px;
  padding: 5px;
}
.dataInput article form input:focus {
  border: 2px solid hsl(217deg, 16%, 45%);
}
.dataInput article form input::placeholder {
  color: black;
}
.dataInput article button {
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 8px 8px 0px 0px;
  background: none;
  display: block;
  margin: 15px auto 0 auto;
  padding: 3px 0;
  width: 60%;
}

#main {
  flex-direction: column;
  display: inline-flex;
  margin: 0px 2.5%;
  width: 95%;
}
#main article {
  background: linear-gradient(to right, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  border-radius: 8px;
  border: none;
  margin: 0px 0px 2.5% 0px;
  position: relative;
  padding: 2px;
}
#main article div {
  background: hsl(214deg, 47%, 23%);
  border-radius: 8px;
  padding: 2rem;
}
#main article div p {
  text-align: center;
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
