.title {
  font-size: 2.8em;
  padding: 5vh;
  article {
    border: 2px solid $headerOutline;
    border-radius: 8px;
    margin: 0 auto;
    width: 80%;
    h1 {
      text-align: center;
      padding: 15px;
      a {
        background: linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
          );
        background-size: 0% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;

        color: $white;
      }

      a:hover,
      a:focus {
        background-size: 0 0.1em, 100% 0.1em;
      }
    }
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1.8em;
  }
}
